
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1A1A1A;
    color:whitesmoke;
    font-family: "Montserrat", sans-serif;
}

.card-notas{
    background-color: aliceblue;
    margin: auto;
}